#titolo {
    border: 1px solid royalblue;
    padding: 10px;
}

.contenitore-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: lightblue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    outline: 34px;
    border: 3px dashed black;
}